<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="fairmanager-cordova-plugin-mediascanner" version="1.1.5"
	xmlns="http://apache.org/cordova/ns/plugins/1.0">

	<name>MediaScanner Plugin</name>
	<description>MediaScanner should be called to add a downloaded image to Android Gallery.</description>
	<license>MIT</license>
	<author>Bruno E. Grossi - brunogrossi.com.br</author>
	<keywords>android,image,photo library,gallery,mediascanner</keywords>

	<repo>https://github.com/fairmanager-cordova/plugin-mediascanner</repo>
	<issue>https://github.com/fairmanager-cordova/plugin-mediascanner/issues</issue>

	<engine>
		<engine name="cordova" version=">=8.0.0"/>
		<engine name="cordova-android" version=">=7.1.1"/>
		<engine name="cordova-ios" version=">=4.5.5"/>
	</engine>

	<js-module src="www/mediascanner.js" name="MediaScanner">
		<clobbers target="cordova.plugins.MediaScanner" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="MediaScanner">
				<param name="android-package" value="eu.fairmanager.plugins.mediascanner.MediaScanner"/>
			</feature>
		</config-file>

		<source-file src="src/android/eu/fairmanager/plugins/mediascanner/MediaScanner.java" target-dir="src/eu/fairmanager/plugins/mediascanner/" />
	</platform>

	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="MediaScanner">
				<param name="ios-package" value="CDVMediaScanner"/>
			</feature>
		</config-file>

		<header-file src="src/ios/CDVMediaScanner.h" />
		<source-file src="src/ios/CDVMediaScanner.m" />
	</platform>
</plugin>
